* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-end; /* Space between children */
    height: 100vh; /* Full height of the viewport */
}

.my-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  
  .output {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  